.header {
  font-family: Arial, Helvetica, sans-serif;
  color: #240d57;
  font-weight: 700;
  size: 4rem;
  line-height: 4rem;
  display: flex;
  text-align: center;
}

.sc {
  color: linear-gradient(#8456ec to #e87bf8);
}
