.header {
  color: #240d57;
  position: absolute;
  width: 573.91px;
  height: 192px;
  left: 0px;
  top: 0px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4rem;
  text-align: right;
}

.text-container {
  position: absolute;
  width: 573.91px;
  height: 192px;
  top: 150px;
  left: 500px;
}

.gradient {
  position: absolute;
  width: 295px;
  height: 74px;
  left: 279px;
  top: 59px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 74px;
  text-align: right;
  background: linear-gradient(90deg, #8456ec 24.2%, #e87bf8 120.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.tagline {
  width: 521px;
  height: 56px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #4f4f4f;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.homepage img {
  position: absolute;
  width: 27.5rem;
  height: 48.481rem;
  left: calc(50% - 440px / 2 - 366px);
  top: 6.25rem;
  /* background: url(LPImg.svg); */
  filter: drop-shadow(0px 0px 46.8696px rgba(0, 0, 0, 0.05));
  border-radius: 2rem;
}

/* .body {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
} */

.button {
  color: #fff;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 10px;
  position: absolute;
  width: 20rem;
  height: 3.5rem;
  left: calc(50% - 320px / 2 + 436px);
  top: 39rem;
  background: linear-gradient(90deg, #8456ec 3.25%, #e87bf8 100%);
  border-radius: 0.8rem;
  border: none;
}
